/*=============== Navigation ============================================================ */

nav {
    background: none;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.nav-bar {
    width: 50%;
    justify-content: center;
    justify-content: center;
    background: none;
}

.sticky {
    position: sticky;
    top: 0;
}

