
/* =================================== Home ================================= */

.content-container {
    margin: 4em;
    display: grid; 
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0% 10px; 
    grid-template-areas: 
      ". ."; 
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: 700;
}

/* =================================== Home -> Greeting ================================= */
/* 
.intro-greeting {
    font-size: xxx-large;
    font-weight: 600;
}

.fade-in-greet {
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
} */

.greet-title {
    font-size: 3.5em;
    letter-spacing: -3px;
    font-weight: 700;
}

.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}

/* =================================== Home -> Intro text  ================================= */

.intro-text {
    font-size: xxx-large;
    font-weight: 200;
    animation-delay: 0.8s;
}

.intro-text2 {
    font-size: xxx-large;
    font-weight: 200;
    animation-delay: 3.8s;
}

/* =================================== About  ================================= */

/* a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration:line-through;
}

ul {
    justify-content: left;
    display: flex;
    list-style: none;
} */
.p-subtitle {
    font-weight: bold;
}
.hobbies-links {
    margin-top: 9rem;
}

.about-title {
    font-size: 3.5em;
    letter-spacing: -3px;
    font-weight: 700;
}

.about-text {
    font-size: xx-large;
    font-weight: 200;
}

.social-icon {
    margin-right: 1rem;
}

.cv-link {
    margin-top: 3rem;
    
}


/* =================================== Projects Page  ================================= */


.content-container-projects {
    margin:4rem;
  }
  
.projects-title {
    margin-top: 7.1rem;
    font-size: 1.75rem;
    letter-spacing: -3px;
    font-weight: 700;
}

.projects-wrapper {
    overflow-x: scroll;

}

.projects-list {
    display:flex;

}

.proj-img {
    margin: 0.5rem;
    max-width: 400px;
}

.photo-container {
    margin-top: 10rem;
    padding-left: 0rem;
}

/* =================================== Individual Project Pages  ================================= */


